<div class = "row">
    <div class = "col-md-11 text-right"> <%= link_to "Bright Ideas", ideas_path %> | <%= link_to "Log Out", session_path(current_user), method: :delete %></div>
</div>

<h1><%= @ideas.content %></h1>

<div class="col-md-8">
    <h3>People who liked this post:</h3>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Alias</th>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
        <% @ideas.users_liked.uniq.each do |user| %>
        <tr>
          <% if @ideas.users_liked.count > 0 %>
          <td><a href="/users/<%= current_user.id %>"><%= user.alias %> </a></td>
          <td><%= user.name %></td>
        </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
</div>