<div class = "row">
	<div class = "col-md-11 text-right"> <%= link_to "Bright Ideas", ideas_path %> | <%= link_to "Log Out", session_path(current_user), method: :delete %></div>
    <h1>Name <%= @user.name%></h1>
    <h1>Name <%= @user.alias%></h1>
    <h1>Name <%= @user.email%></h1>
</div>
<hr>

<h1><%= @user.ideas.count %></h1>
<h1><%= @user.likes.count %></h1>
