<div class="row">
    <div class="col-md-11 text-right"><%= link_to "Go to All Products", products_path %> | <%= link_to "Logout", session_path(current_user), method: :delete %></div>
</div>


<h1>Hi, <%= @user.first_name%></h1>

<div class="col-md-5">
    <label>Sell Product</label>
    <form action="/products" method="POST">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <div class="form-group">
          <label for="InputFirst_name">Name</label>
          <input type="text" class="form-control" name="product[name]" />
        </div>
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <div class="form-group">
          <label for="InputFirst_name">Amount</label>
          <input type="text" class="form-control" name="product[amount]" />
        </div>
        <div>
            <input class="btn btn-primary btn-sm" type="submit" value="Sell">
        </div>
    </form>
</div>

<div class="col-md-8">
    <h3>Your products that are not yet sold:</h3>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Product</th>
          <th>Date Posted</th>
          <th>Amount</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% @user.products.each do |product| %>
          <% if product.purchased == false %>
        <tr>
          <td><%= product.name %></td>
          <td><%= product.created_at.strftime("%B %d, %Y") %></td>
          <td><%= number_to_currency(product.amount) %></td>
          <td><%= link_to "Remove", product_path(product.id), method: :delete %></td>
        </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>

    <h3>Sales</h3>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Product</th>
          <th>Date Bought</th>
          <th>Buyer</th>
          <th>Amount</th>
        </tr>
      </thead>
      <tbody>
        <% @user.products.each do |product| %>
          <% if product.purchased == true %>
            <% product.purchasers.each do |sale| %>
        <tr>
          <td><%= product.name %></td>
          <td><%= sale.updated_at.strftime("%B %d, %Y") %></td>
          <td><%= sale.first_name %></td>
          <td><%= number_to_currency(product.amount) %></td>
        </tr>
            <% end %>
          <% end %>
        <% end %>
      </tbody>
    </table>

    <h4 class="text-right">Total: <%= number_to_currency(@total_sales) %></h4>

    <h3>Purchases</h3>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Product</th>
          <th>Date Bought</th>
          <th>Seller</th>
          <th>Amount</th>
        </tr>
      </thead>
      <tbody>
        <% @user.purchases.each do |purchase| %>
        <tr>
          <td><%= purchase.name %></td>
          <td><%= purchase.updated_at.strftime("%B %d, %Y") %></td>
          <td><%= purchase.user.first_name %></td>
          <td><%= number_to_currency(purchase.amount) %></td>
        </tr>
        <% end %>
      </tbody>
    </table>

    <h4 class="text-right">Total: <%= number_to_currency(@purchases) %></h4>

</div>