<div class="container">
    <form action="/products/<%= @product.id %>" method="POST">
      <input type="hidden" name="_method" value="PUT">
      <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
      <div class="form-group">
        <label for="InputCategory">Category</label>
        <select class="form-control" name="product[category_id]" id="Category">
            <% @categories.each do |category| %>
              <% if(category.name == @product.category.name) %>
              <option selected="select" value="<%= category.id %>"><%= category.name %></option>
              <% else %>
              <option value="<%= category.id %>"><%= category.name %></option>
              <% end %>
            <% end %>
        </select>
      </div>
      <div class="form-group">
        <label for="InputName">Name</label>
        <input type="text" class="form-control" name="product[name]" value="<%= @product.name %>">
      </div>
      <div class="form-group">
        <label for="InputDescription">Description</label>
        <input type="text" class="form-control" name="product[description]" value="<%= @product.description %>">
      </div>
      <div class="form-group">
        <label for="InputPrice">Price</label>
        <input type="number" class="form-control" name="product[price]" value="<%= @product.price %>">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br>
    <%= link_to "Show", product_path(@product) %> | <%= link_to "Back", :back %>
</div>
