<div class="row">
    <div class="col-md-11 text-right"><%= link_to "Go to Dashboard", user_path(current_user) %> | <%= link_to "Logout", session_path(current_user), method: :delete %></div>
</div>


<h1>Hi, <%= @user.first_name%></h1>

<div class="col-md-12">
    <h3>Here are some of the events in your state</h3>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Product</th>
          <th>Seller</th>
          <th>Date Posted</th>
          <th>Amount</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% @products.each do |product| %>
          <% if @purchased %>
        <tr>
          <td><%= product.name %></td>
          <td><%= product.user.first_name %></td>
          <td><%= product.created_at.strftime("%B %d, %Y") %></td>
          <td><%= number_to_currency(product.amount) %></td>
          <td>
            <form action="/products/<%= product.id %>" method="POST">
              <input type="hidden" name="_method" value="PUT">
              <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
              <input type="hidden" name="product[purchased]" value="<%= product.id %>">
              <button class="btn btn-primary btn-sm" type="submit">Buy</button>
            </form>
          </td>
        </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
</div>