<div class="container">
    <h3>Name: <%= @product.name %></h3>
    
    <h3>Description: <%= @product.description %></h3>
    
    <h3>Price: $<%= @product.price %></h3>

    <h3>Category: <%= @product.category.name %></h3>

    <%= link_to "Edit", edit_product_path %> | <%= link_to "Back", :back %>
    <br>
    <div>
        <label class="label-control">Comment:</label>
        <form class="form-inline" action="/comments" method="POST">
            <input type="hidden" name="comment[product_id]" value="<%= @product.id %>">
            <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
            <textarea class="form-control" name="comment[comment]"></textarea>
            <input class="btn btn-success btn-sm" type="submit" name="submit" value="Submit">
        </form>
    </div>
    <div>
        <% @product.comments.each do |comment| %>
        <p><%= comment.comment %> <%= comment.created_at %></p>
        <% end %>
    </div>
</div>
